.header  {
  font-family: monospace;
  background: papayawhip;
   /* additions by me */
   

}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  /* additions by me */
  align-items: center;
  justify-content: center;
 
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  /* additions by me */
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 3px ;
  margin: 6px; 

}
a {
  font-size: 22px;
  background: white;
  /* this removes the line under the links */
  text-decoration: none;
  /* additions by me */
  padding: 6px;

}

/* additions by me */
div{
  display: flex;
  justify-content:space-between;
  margin : 8px;
}
